[submodule "Classwork/Portfolio"]
	path = Classwork/Portfolio
	url = https://github.com/Cimball1334/Portfolio.git
[submodule "Classwork/APCSA"]
	path = Classwork/APCSA
	url = https://github.com/Cimball1334/APCSA.git
[submodule "Classwork/--force"]
	path = Classwork/--force
	url = https://github.com/Cimball1334/CS112.git
[submodule "Classwork/CS112"]
	path = Classwork/CS112
	url = https://github.com/Cimball1334/CS112.git
[submodule "Classwork/CS222"]
	path = Classwork/CS222
	url = https://github.com/Cimball1334/CS222.git
[submodule "Classwork/CYSE130"]
	path = Classwork/CYSE130
	url = https://github.com/Cimball1334/CYSE130.git
[submodule "Classwork/SYST230"]
	path = Classwork/SYST230
	url = https://github.com/Cimball1334/SYST230.git
[submodule "Personal Projects/Personal-Projects"]
	path = Personal Projects/Personal-Projects
	url = https://github.com/Cimball1334/Personal-Projects.git
[submodule "Research Projects/FOOS-Oriam"]
	path = Research Projects/FOOS-Oriam
	url = https://github.com/Cimball1334/FOOS-Oriam.git
[submodule "Research Projects/Oriam-OS"]
	path = Research Projects/Oriam-OS
	url = https://github.com/Cimball1334/Oriam-OS.git
[submodule "Research Projects/SecureLogin"]
	path = Research Projects/SecureLogin
	url = https://github.com/Cimball1334/SecureLogin.git
[submodule "Research Projects/SecureCommunication"]
	path = Research Projects/SecureCommunication
	url = https://github.com/Cimball1334/SecureCommunication.git
